<div class="modal" tabindex="-1" role="dialog" aria-hidden="true" id="removeIdenticalRows">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form class="form-group" id="formRemoveIdenticalRows">
                <div class="modal-header">
                    <h5 class="modal-title">Remove identical rows</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label for="col-type">Columns to check on</label>
                    <ul class="list-unstyled">
                        <li><input type="checkbox" class="parent" data-group=".removeIdenticalRows"> Select All</li>
                        {% for column in table.columns[1:] %}
                            <li><input type="checkbox" class="removeIdenticalRows" name="col-names" value="{{ column.name }}"> {{ column.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Delete rows
                    </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $('#formRemoveIdenticalRows').submit(function (e) {
        e.preventDefault();
        $.ajax({
            type: 'DELETE',
            url: '/api' + window.location.pathname + '/remove-identical-rows?' + $('#formRemoveIdenticalRows').serialize(),
            success: function () {
                window.location.reload();
            },
            error: function () {
                window.location.reload();
            }
        });
        $('#addRemoveIdenticalRows').modal('hide');
    });
    $(".parent").each(function(index){
        var group = $(this).data("group");
        var parent = $(this);

        parent.change(function(){  //"select all" change
             $(group).prop('checked', parent.prop("checked"));
        });
        $(group).change(function(){
            parent.prop('checked', false);
            if ($(group+':checked').length === $(group).length ){
                parent.prop('checked', true);
           }
        });
    });
</script>