<div class="modal" tabindex="-1" role="dialog" aria-hidden="true" id="ImputeMissingData">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form class="form-group" id="formImputeMissingData">
                <div class="modal-header">
                    <h5 class="modal-title">Impute missing data</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label for="fill-column-selector">Column</label>
                    <select class="form-control" name="col-name" id="fill-column-selector">
                        <option selected disabled>choose a column...</option>
                        {% for column in table.columns[1:] %}
                            <option value="{{ column.name }}" data-column-type="{{ column.type }}">{{ column.name|capitalize }}
                                ({{ column.type|capitalize }})
                            </option>
                        {% endfor %}
                    </select>

                    <label class="options" for="function" style="display: none">Based on</label>
                    <select id="fill-function-selector" class="form-control options" name="function" style="display: none">
                        <option selected disabled>choose a replacement value...</option>
                        <option value="AVG" class="numerical">AVERAGE</option>
                        <option value="MEDIAN" class="numerical">MEDIAN</option>
                        <option value="MCV">MOST COMMON VALUE</option>
                        <option value="CUSTOM">CUSTOM VALUE</option>
                    </select>

                    <br>
                    <label class="custom-value"  style="display: none" for="custom-value">Fill with</label>
                    <input class="custom-value" id="custom-value" name="custom-value"  value="" style="display: none">

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save changes
                    </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $('#formImputeMissingData').submit(function (e) {
        e.preventDefault();
        $.ajax({
            type: 'PUT',
            url: '/api' + window.location.pathname + '/impute-missing-data?' + $('#formImputeMissingData').serialize(),
            success: function () {
                window.location.reload();
            },
            error: function () {
                window.location.reload();
            }
        });
        $('#formImputeMissingData').modal('hide');
    });
    $('#fill-column-selector').change(function () {
        $('.options').show();
        var type = $(this).find(':selected').data('column-type');
        if (type == "double" || type == "integer" || type == "real"){
            $('.numerical').show();
        }
        else {
            $('.numerical').hide();
        }
    });

    $('#fill-function-selector').change(function () {
        if ($(this).val() == "CUSTOM"){
            $('.custom-value').show();
        }
        else {
            $('.custom-value').hide();
        }
    });




</script>