<div class="modal" tabindex="-1" role="dialog" aria-hidden="true" id="rawData">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title"> Raw data</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form id="formRevertRawData">
					<div class="form-group">
						<h5>Revert to raw data</h5>
						<button type="submit" class="btn btn-primary" {% if not raw_table_exists %}
										disabled  {% endif %}>Revert
						</button>
					</div>
				</form>
				<div class="form-group">
					<h5 class="modal-title">Show raw data</h5>
					<a href="/datasets/{{ table.dataset }}/tables/{{ table.name|urlencode }}/show-raw-data"
					   role="button" class="btn btn-primary" {% if not raw_table_exists %}
									disabled  {% endif %}>Show
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	$('#formRevertRawData').submit(function (e) {
		e.preventDefault();
		$.ajax({
			type: 'PUT',
			url: window.location.pathname + '/revert-to-raw-data'
		});
		window.location.reload();
	});
</script>
