attrs==17.4.0
click==6.7
Flask==0.12.2
Flask-Login==0.4.1
Flask-SQLAlchemy==2.3.2
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
numpy==1.14.2
pandas==0.22.0
passlib==1.7.1
pluggy==0.6.0
psycopg2==2.7.4
psycopg2-binary==2.7.4
py==1.5.2
pytest==3.4.2
python-dateutil==2.7.2
pytz==2018.4
scikit-learn==0.19.1
scipy==1.0.1
six==1.11.0
sklearn==0.0
SQLAlchemy==1.2.6
Werkzeug==0.14.1
recordlinkage=0.11.2