{% extends "base.html" %}
{% block content %}
<div class="row">
	<div class="col-sm-4"></div>
	<div class="col-sm-4">
		<h1>Project Databases</h1>
		<h2>Made with ❤️ by Cedric, Dawid, Jonathan, Sergio & Atisha (he looked at the code once)</h2>
		<p>We are very proud to present our beautiful project, a Data Wrangling app. We'd like to thank our parents for making our presence on this earth possible.</p>
		<p>Muchas gracias, mucho amor, y nos veremos mas tarde! ❤️❤️❤️</p>
	</div>
	<div class="col-sm-4">
		<a href="{{ url_for('login') }}">Login</a>
		<br>
		<a href="{{ url_for('register') }}">Register</a>
	</div>
</div>
{% endblock %}