{% extends "base.html" %}
{% block content %}
    <div class="row">
        {% for message in get_flashed_messages(with_categories=True) %}
            <div class="alert alert-{{ message[0] }}">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message[1] }}
            </div>
        {% endfor %}
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <h1>Project Databases</h1>
            <h2>About</h2>
            <h3>Goal</h3>
            <p>The goal of this project is to create a webapp that provides easy to use data management services. Users
                can
                upload their data (from various file formats), share access and divide it into logical 'datasets'.
                Furthermore, the app allows for data manipulation in order to turn raw data into usable information.
                Eventually, the idea is to provide sufficiently advanced data cleaning and analysis tools.</p>
            <h3>Team</h3>
            <p>This project is being realised by four undergraduate students at the University of Antwerp:</p>
            <ul>
                <li><a href="https://github.com/DeSchepperCedric">Cedric De Schepper</a></li>
                <li><a href="https://github.com/sergiofenoll">Sergio Fenoll</a></li>
                <li><a href="https://github.com/MeyerJon">Jonathan Meyer</a></li>
                <li><a href="https://github.com/DawidMiroyan">Dawid Miroyan</a></li>
            </ul>
        </div>
        <div class="col-sm-2"></div>
    </div>
{% endblock %}