html {
	position: relative;
	min-height: 100%;
}

.col-sm-2 {
	padding: 0 !important;
}

.col-sm-8 {
	padding: 0 !important;
}

.col-sm-10 {
	padding: 0 !important;
}

body > .container{
	padding-top: 65px;
}

* {
	/*border-radius: 0 !important; !* Fuck rounded corners lmao *!*/
}

.panel-group {
	border-radius: 0;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	/*margin-left: 10px;*/
}

.panel-body {
	/*padding: 0;*/
}

.panel-body table tr td {
	padding: 0;
	line-height: 1.428571429;
	vertical-align: top;
	border: 0;
	/*border-top: 1px solid #ddd;*/
}

.panel-body .table {
	margin-bottom: 0;
	table-layout: fixed;
	width: 100%;
}

.panel-body > table > tr > td {
	/*padding: 8px;*/
	line-height: 1.428571429;
	vertical-align: top;
	/*border-top: 1px solid #ddd;*/
	box-sizing: border-box;
	border-collapse: collapse;
	border-spacing: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 8px !important;
	color: #333;
}

.panel-heading {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	border-bottom: 0;
	line-height: 1.428571429;
	color: #333;
	background-color: #a9a9a9;
	box-sizing: border-box;
	text-align: left !important;
}

.panel-button {
	width: 100%;
	/*font-size: 14px !important;*/
	white-space: normal;
	text-align: left !important;
	border-radius: 0;
}

.panel-form {
	padding: 8px;
	background-color: #e2e6ea;
}