{% extends "base.html" %}
{% block content %}
    <div class="row">
        <h1>{{ table.name }}</h1>
        <p>{{ table.desc }}</p>
    </div>
    <div class="row">
        <table class="table table-striped table-bordered" cellspacing="0" width="100%" id="dataTable">
            <thead>
            <tr>
                <th class="scrolling-disabled"></th>
                {% for column in table.columns[1:] %}

                    <th>
                        {{ column.name|capitalize }}
                    </th>
                {% endfor %}
            </tr>
            </thead>
        </table>
        <div class="modal" tabindex="-1" role="dialog" aria-hidden="true" id="addRow">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form class="form-group" method="post" id="formAddRow">
                        <div class="modal-header">
                            <h5 class="modal-title">Add row</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            {% for column in table.columns[1:] %}
                                <label for="value-col-{{ column.name }}">{{ column.name|capitalize }}</label>
                                <input type="text" class="form-control" name="value-col-{{ column.name }}"
                                       id="value-col-{{ column.name }}">
                            {% endfor %}
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Save changes
                            </button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal" tabindex="-1" role="dialog" aria-hidden="true" id="addColumn">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form class="form-group" id="formAddColumn">
                        <div class="modal-header">
                            <h5 class="modal-title">Add column</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <label for="col-name">Column name</label>
                            <input type="text" class="form-control" name="col-name" id="col-name">
                            <label for="col-type">Column type</label>
                            <select class="form-control" name="col-type" id="col-type">
                                <option value="INT">INTEGER</option>
                                <option value="DOUBLE PRECISION">DOUBLE</option>
                                <option value="TIMESTAMP">DATE/TIME</option>
                                <option value="VARCHAR(255)">STRING</option>
                                <option value="BIT">BIT</option>
                            </select>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Save changes
                            </button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal" tabindex="-1" role="dialog" aria-hidden="true" id="deleteColumn">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form class="form-group" id="formDeleteColumn">
                        <div class="modal-header">
                            <h5 class="modal-title">Delete column</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <label for="col-name">Column</label>
                            <select class="form-control" name="col-name" id="col-name">
                                {% for column in table.columns[1:] %}
                                    <option value="{{ column.name }}">{{ column.name|capitalize }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Save changes
                            </button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal" tabindex="-1" role="dialog" aria-hidden="true" id="updateColumn">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form class="form-group" id="formUpdateColumn">
                        <div class="modal-header">
                            <h5 class="modal-title">Update column type</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <label for="col-name">Column</label>
                            <select class="form-control" name="col-name" id="col-name">
                                {% for column in table.columns[1:] %}
                                    <option value="{{ column.name }}">{{ column.name|capitalize }}
                                        ({{ column.type|capitalize }})
                                    </option>
                                {% endfor %}
                            </select>
                            <label for="col-type">Column type</label>
                            <select class="form-control" name="col-type" id="col-type">
                                <option value="INT">INTEGER</option>
                                <option value="DOUBLE PRECISION">DOUBLE</option>
                                <option value="TIMESTAMP">DATE/TIME</option>
                                <option value="VARCHAR(255)">STRING</option>
                                <option value="BIT">BIT</option>
                            </select>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Save changes
                            </button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal" tabindex="-1" role="dialog" aria-hidden="true" id="DateTimeTransformations">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form class="form-group" id="formDateTimeTransformations">
                        <div class="modal-header">
                            <h5 class="modal-title">Time/Date transformations</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <label for="col-name">Column</label>
                            <select class="form-control" name="col-name" id="col-name">
                                {% for column in table.columns[1:] %}
                                    {% if (column.type == "timestamp") %}
                                        <option value="{{ column.name }}">{{ column.name|capitalize }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>

                            <label for="transformation-name">Transformation</label>
                            <select id="operation-name" class="form-control" name="operation-name">
                                {% for transformation in time_date_transformations %}
                                    <option value="{{ transformation }}">
                                        {{ transformation }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Save changes
                            </button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal" tabindex="-1" role="dialog" aria-hidden="true" id="ImputeMissingData">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form class="form-group" id="formImputeMissingData">
                        <div class="modal-header">
                            <h5 class="modal-title">Impute missing data</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <label for="col-name">Column</label>
                            <select class="form-control" name="col-name" id="col-name">
                                {% for column in table.columns[1:] %}
                                    {% if ((column.type == "real") or (column.type == "double") or (column.type == "integer")) %}
                                        <option value="{{ column.name }}">{{ column.name|capitalize }}
                                            ({{ column.type|capitalize }})
                                        </option>
                                    {% endif %}
                                {% endfor %}
                            </select>

                            <label for="function">Based on</label>
                            <select id="function" class="form-control" name="function">
                                <option value="AVG">AVERAGE</option>
                                <option value="MEDIAN">MEDIAN</option>
                            </select>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Save changes
                            </button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal" tabindex="-1" role="dialog" aria-hidden="true" id="askStats">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form class="form-group" id="formAskStats">
                        <div class="modal-header">
                            <h5 class="modal-title">Statistics</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <label for="col-name">Column</label>
                            <select class="form-control" name="col-name" id="stat-column-selector">
                                <option value="Default" selected="selected">Choose column...
                                </option>
                                {% for column in table.columns[1:] %}
                                    <option value="{{ column.name }}">{{ column.name|capitalize }}
                                    </option>
                                {% endfor %}
                            </select>
                            {% for col_stats in statistics %}
                                <div tyle="height:10px;"></div>
                                {% for stat in col_stats[1] %}
                                    <div>
                                        <label for="value" id="{{ col_stats[0] }}" class="{{ col_stats[0] }} stats"
                                               style="display:none">
                                            {{ stat[0] }}
                                        </label>
                                        <input id="value" class="{{ col_stats[0] }} stats"
                                               value="{{ stat[1] }}" style="display:none" readonly>
                                    </div>

                                {% endfor %}
                            {% endfor %}

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script type="text/javascript" charset="utf-8">
            $(document).ready(function () {
                var table = $('#dataTable').DataTable({
                    scrollX: "auto",
                    scrollY: "50vh",
                    scrollCollapse: true,
                    processing: true,
                    serverSide: true,
                    ajax: '/api' + window.location.pathname,
                    order: [[1, 'desc']],
                    rowsDefs: [{}],
                    columnDefs: [{
                        targets: 0,
                        searchable: false,
                        orderable: false,
                        width: '1%', // min width
                        render: function (data) {
                            return '<input type="checkbox" name="row-' + data + '" id="row-' + data + '">';
                        }
                    }],
                    dom: 'Bfrtip',
                    buttons: [
                        {
                            text: 'Add row',
                            action: function () {
                                $('#addRow').modal('show');
                            }
                        },
                        {
                            text: 'Delete row(s)',
                            action: function () {
                                $.ajax({
                                    type: 'DELETE',
                                    url: '/api' + window.location.pathname + '/rows?' + $('input:checked').serialize(),
                                    contentType: 'application/json;charset=UTF-8',
                                    success: function () {
                                        window.location.reload();
                                    }
                                })
                            }
                        },
                        {
                            text: 'Add column',
                            action: function () {
                                $('#addColumn').modal('show');
                            }
                        },
                        {
                            text: 'Delete column',
                            action: function () {
                                $('#deleteColumn').modal('show');
                            }
                        }, {
                            text: 'Update column type',
                            action: function () {
                                $('#updateColumn').modal('show');
                            }
                        }, {
                            text: 'Time/Date transformations',
                            action: function () {
                                $('#DateTimeTransformations').modal('show');
                            }
                        }, {
                            text: 'History',
                            action: function () {
                                window.location.href = window.location.pathname + '/history';
                            }
                        },{
                            text: 'Impute missing data',
                            action: function () {
                                $('#ImputeMissingData').modal('show');
                            }
                        }, {
                            text: 'Stats',
                            action: function () {
                                $('#askStats').modal('show');
                            }
                        },


                        'colvis'
                    ]
                });
                table.buttons().container().appendTo('#dataTable_wrapper .col-sm-8:eq(0)');
                $('#formAddRow').submit(function (e) {
                    e.preventDefault();
                    $.ajax({
                        type: 'POST',
                        url: '/api' + window.location.pathname + '/rows?' + $('#formAddRow').serialize(),
                        success: function () {
                            table.ajax.reload();
                        }
                    });
                    $('#addRow').modal('hide');
                });
                $('#formAddColumn').submit(function (e) {
                    e.preventDefault();
                    $.ajax({
                        type: 'POST',
                        url: '/api' + window.location.pathname + '/columns?' + $('#formAddColumn').serialize(),
                        success: function () {
                            window.location.reload();
                        }
                    });
                    $('#addColumn').modal('hide');
                });
                $('#formDeleteColumn').submit(function (e) {
                    e.preventDefault();
                    $.ajax({
                        type: 'DELETE',
                        url: '/api' + window.location.pathname + '/columns?' + $('#formDeleteColumn').serialize(),
                        success: function () {
                            window.location.reload();
                        }
                    });
                    $('#deleteColumn').modal('hide');
                });
                $('#formUpdateColumn').submit(function (e) {
                    e.preventDefault();
                    $.ajax({
                        type: 'PUT',
                        url: '/api' + window.location.pathname + '/columns?' + $('#formUpdateColumn').serialize(),
                        success: function () {
                            window.location.reload();
                        }
                    });
                    $('#updateColumn').modal('hide');
                });
                $('#formDateTimeTransformations').submit(function (e) {
                    e.preventDefault();
                    $.ajax({
                        type: 'PUT',
                        url: '/api' + window.location.pathname + '/date-time-transformations?' + $('#formDateTimeTransformations').serialize(),
                        success: function () {
                            window.location.reload();
                        }
                    });
                    $('#formDateTimeTransformations').modal('hide');
                });
                $('#formImputeMissingData').submit(function (e) {
                    e.preventDefault();
                    $.ajax({
                        type: 'PUT',
                        url: '/api' + window.location.pathname + '/impute-missing-data?' + $('#formImputeMissingData').serialize(),
                        success: function () {
                            window.location.reload();
                        }
                    });
                    $('#formImputeMissingData').modal('hide');
                });


                $('#stat-column-selector').change(function () {
                    $('.stats').hide();
                    var string = "";
                    var words = $(this).val().split(" ");
                    for (var i = 0; i < words.length; i++) {
                        string = string + "." + words[i];
                    }
                    $(string).show();
                });
            });
        </script>
    </div>
{% endblock %}
