{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <h1>Dataset overview</h1>
            <p>See and manage your datasets.</p>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <br>
    {% if datasets|length > 0 %}
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <table id="datasetTable" class="display table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>Dataset</th>
                        <th>Description</th>
                        <th>Owner</th>
                        <th style="text-align: center;">Remove</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for ds in datasets %}
                        <tr>
                            <td><a href="/data-service/{{ ds.id }}">{{ ds.name }}</a></td>
                            <td>{{ ds.desc }}</td>
                            <td>{{ ds.owner }}</td>
                            <td style="text-align: center;"><a href="/data-service/delete/{{ ds.id }}">
                                <button type="button" class="btn btn-xs  btn-danger"
                                        {% if ds.owner != current_user.username %}disabled{% endif %}>
                                    ❌
                                </button>
                            </a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-sm-2"></div>
        </div>
    {% endif %}
    <br>
    <br>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <h4>Create a new dataset</h4>
            <form action="/data-service/new" method="post">
                <div class="form-group">
                    <span for="ds-name">Name</span>
                    <input type="text" class="form-control" id="ds-name" name="ds-name" placeholder="Dataset name"
                           required>
                </div>
                <div class="form-group">
                    <span for="ds-meta">Description</span>
                    <input type="text" class="form-control" id="ds-meta" name="ds-meta"
                           placeholder="Dataset description">
                </div>
                <button type="submit" class="btn btn-default" id="submit">Submit</button>
            </form>
        </div>
        <div class="col-sm-2"></div>
    </div>
    </div>
    <br>
{% endblock %}